name: First CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - run: dotnet restore
      - run: dotnet build
      - run: dotnet test

      - name: Publish app (linux-x64)
        run: dotnet publish -o app -r linux-x64 --sc /p:PublishSingleFile=true,AssemblyName=app

      - name: Create tar archive
        run: tar cf app.tar app/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app           
          path: app.tar       

  test:
    runs-on: ubuntu-latest
    needs: build             
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app          

      - name: Debug – pokaż pliki
        run: ls -R

      - name: Extract archive
        run: tar xf app.tar

      - name: Run app
        run: ./app/app
